<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GenerateCube.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="GenerateCube.Properties.Settings.OleDbConnectionString" connectionString="Provider=SQLNCLI11.1;Data Source=localhost;Integrated Security=SSPI;Initial Catalog=EssentialsAccountsDB" providerName="System.Data.OleDb"/>
        <add name="GenerateCube.Properties.Settings.SqlClientConnectionString" connectionString="Data Source=localhost;Initial Catalog=EssentialsAccountsDB;Integrated Security=True;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <applicationSettings>
        <GenerateCube.Properties.Settings>
            <setting name="AsServerName" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="OutputDir" serializeAs="String">
                <value>C:\dev\Output</value>
            </setting>
            <setting name="SqlDataMartDbName" serializeAs="String">
                <value>EssentialsAccountsDB</value>
            </setting>
            <setting name="ProjectTemplate" serializeAs="String">
                <value>Files\EssentialsAccountCube.dwproj</value>
            </setting>
            <setting name="AsDatabaseId" serializeAs="String">
                <value>EssentialsAccountsCube</value>
            </setting>
        </GenerateCube.Properties.Settings>
    </applicationSettings>
</configuration>
