<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DocumentCube.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DocumentCube.Properties.Settings>
            <setting name="AsServerName" serializeAs="String">
                <value>asazure://northeurope.asazure.windows.net/acemnpuimtaas01</value>
            </setting>
            <setting name="AsDatabaseId" serializeAs="String">
                <value>EssentialsAccountsCubeQA</value>
            </setting>
            <setting name="OutputDir" serializeAs="String">
                <value>C:\Dev\EssentialsAccounts\Documentation\Wiki\Cube-Documentation</value>
            </setting>
            <setting name="VersionNumber" serializeAs="String">
                <value>0.7.3</value>
            </setting>
        </DocumentCube.Properties.Settings>
    </applicationSettings>
</configuration>